@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: black;
  background-color: white;
}

body {
  text-decoration: none;
}

.header {
  width: 100vw;
  overflow: hidden;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  padding: 0.4em;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 22vw;
  min-width: 250px;
  cursor: pointer;
}

.navbar {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #005499;
}
.navbar ul {
  padding: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.navbar li {
  padding: 5px;
}
.navbar button {
  padding: 3px;
  padding-left: 6px;
  padding-right: 6px;
  border: none;
  cursor: pointer;
  background-color: #005499;
  color: white;
  font-size: 11px;
  text-align: center;
  transition: 400ms;
}

.navbar button:hover {
  transform: scale(1.1);
  color: black;
}

.games {
  height: 360px;
  width: inherit;
  overflow: hidden;
}

.games img{
  height: 360px;
  width: 100%;
  object-fit: cover;
  cursor: grab;
  transition: 400ms;
}

.games img:hover{
  transform: scale(1.1);
}

.main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: fit-content;
}

main aside {
  padding: 20px;
  width: 25%;
  height: 100%;
  display: inline-block;
  margin-right: 50px;
}

.offersarticle {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.offers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.offersitens {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 20px;
  width: 50%;
  display: inline-block;
}

.offersitens {
  margin: 10px 0;
  border-radius: 20px;
}

.offersitens figure {
  margin-bottom: 8px;
}

.offersitens img {
  cursor: pointer;
}

.offersitens .tag {
  background-color: #000000;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 5px 10px;
  width: fit-content;
  margin-bottom: 8px;
}

.offersitens .price {
  display: flex;
  flex-direction: column;
}

.offersitens .oldPrice {
  text-decoration: line-through;
  color: #938f8f;
  padding-right: 5px;
}

@media only screen and (min-width: 500px) {
  .navbar {
    height: 60px;
  }
  .navbar li {
    padding-left: 12px;
    padding-right: 12px;
  }
  .navbar button {
    font-size: 14px;
  }

  .offers {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}

@media only screen and (min-width: 1024px) {
  .navbar {
    height: 70px;
  }
  .navbar button {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
  }
  .main {
    flex-direction: row;
  }

  .offers {
    grid-template-columns: repeat(4, auto);
  }
}